*.docx
*.rar
*.zip
JavaScript Advanced/*/node_modules/
JavaScript Advanced/*/package-lock.json
JavaScript Advanced/*/package.json


#Ignored files.
JavaScript Advanced/06.JS-Advanced-Advanced-Functions-Lab/listProc.js
JavaScript Advanced/06.JS-Advanced-Advanced-Functions-Lab/cars.js
JavaScript Advanced/06.JS-Advanced-Advanced-Functions-Exercise/09. Task Manager/style.css
JavaScript Advanced/06.JS-Advanced-Advanced-Functions-Exercise/09. Task Manager/index.html
JavaScript Advanced/06.JS-Advanced-Advanced-Functions-Exercise/09. Task Manager/app.js
JavaScript Advanced/07.JS-Advanced-Unit-Testing-and-Error-Handling-Lab/test.js
